{% extends 'base.html' %}

    {% block body %}

        <div class="container">
            <div class="row h-100 justify-content-md-center">
                <div class="col-3 w-100 p-3"><button class="btn btn-success">Button Up</button></div>
            </div>
            <div class="row h-100 justify-content-md-center">
                <div class="col-3 w-100 p-3"><button class="btn btn-warning">Button Left</button></div>
                <div class="col-3 w-100 p-3"><button class="btn btn-warning">Button Right</button></div>
            </div>
             <div class="row h-100 justify-content-md-center">
                <div class="col-3 w-100 p-3"><button class="btn btn-danger">Button Down</button></div>
            </div><br><br><br>
            <div class="row h-100 justify-content-md-center">
                <div class="col-3 w-100 p-3"><button class="btn btn-secondary">Button (A))</button></div>
            </div>
             <div class="row h-100 justify-content-md-center">
                <div class="col-3 w-100 p-3"><button class="btn btn-secondary">Button (B)</button></div>
            </div><br><br>

            <div class="row h-100 justify-content-md-center">
                <div class="col-3 w-100 p-3"><button class="btn btn-primary">Button Plus</button></div>
                <div class="col-3 w-100 p-3"><button class="btn btn-success">Button Home</button></div>
                <div class="col-3 w-100 p-3"><button class="btn btn-primary">Button Minus</button></div>
            </div><br><br><br>
            <div class="row h-100 justify-content-md-center">
                <div class="col-3 w-100 p-3"><button class="btn btn-warning">Button 1</button></div>
            </div><div class="row h-100 justify-content-md-center">
                <div class="col-3 w-100 p-3"><button class="btn btn-warning">Button 2</button></div>
            </div>
        </div>
    {% endblock %}
