{% extends 'base.html' %}
{% load  crispy_forms_tags %}
{% comment %} {% include 'messages.html' %} {% endcomment %}
{% block body %}
     <div id="id_container" class="container-flued">
      <div class="row">
          <div class="col-md-9 mx-auto">
                <div class="pb-2 my-4 border-bottom">
                  <h2 class="mx-5" >Maç Tablosu</h2>
                </div>
              <Form method="POST" class="uniForm" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% crispy forms %}
                  {% comment %} <input type="submit" class="btn btn-outline-primary btn-k2m mt-5 mx-3" value="Kaydet">                         {% endcomment %}
              </form>
          </div>
      </div>
    </div>

  <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Yeni Maç Başlat</a>

    {% include 'match/run.html' %}
  {% endblock %}

  {% block footer %}

  {% endblock %}  
    

   
    
  </body>
</html>