
<div class="modal" id="playerName-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="dialog">
        <div id="select-modal" class="modal-content text-center">
            <div class="modal-header _text">
                <h1>İSİM DEĞİŞTİR</h1>
            </div>    
            <div class="modal-body">                
                <h2 class="_text">İsmini değiştirmek istediğiniz oyuncuyu seçiniz. </h2>                
            </div>                               
            <div id="modal-footer" class="modal-footer">
                <button id="btn-player1_Name" data-toggle="modal" data-target="#keyboard-modal" data-dismiss="modal" type="button" class="btn btn-light">OYUNCU 1</button> 
                <button id="btn-player2_Name" data-toggle="modal" data-target="#keyboard-modal" data-dismiss="modal" type="button" class="btn btn-warning">OYUNCU 2</button>
                <button id="btn-kapat-modal" type="button" class="btn btn-danger" data-dismiss="modal">KAPAT</button>               
            </div>
        </div>
    </div>
</div>




