<div class="modal" id="player-select-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="dialog">
        <div id="finih-modal" class="modal-content text-center">
            <div class="modal-header text-center">
                <h1 class="_text">MAÇI BİTİR</h1>
            </div>    
            <div class="modal-body">                
                <h2 class="_text">Maçı kazanan oyuncuyu seçiniz.</h2>
            </div>                               
            <div id="player-select-footer" class="modal-footer">
              <button id="p1-hukmen" type="button" class="btn btn-light" data-dismiss="modal">OYUNCU 1</button> 
              <button id="p2-hukmen" type="button" class="btn btn-warning" data-dismiss="modal">OYUNCU 2</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">VAZGEÇ</button>  
              
            </div>
        </div>
    </div>
</div>