@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	font-family: 'Roboto', sans-serif; /* online verdiğimiz google font adresinden fontu çekiyoruz*/
    font-size: .8rem !important;
    background-color: whitesmoke;

}

#playerName-modal .modal-header,
#playerName-modal .modal-body,
#playerName-modal .modal-footer{    
    background: rgb(54, 54, 54);
    padding: 1rem !important;
}

#playerName-modal .modal-header{
    height: 100px !important;
    display: block !important;
}

#playerName-modal .modal-footer{
    display: block;
    
    border-top:none !important;
    height: 100% !important;
}

#playerName-modal button{
    width: 700px;
    height: 70px;
    margin-top: 2rem;
    /* border-radius: 5px !important; */
    
}
#playerName-modal .modal-content{
    background-color:rgb(15, 15, 15, 1);
   
}

/* Maçı Bitir */
#match-save-modal .modal-header,
#match-save-modal .modal-body,
#match-save-modal .modal-footer{    
    background: rgb(54, 54, 54);
    padding: 1rem !important;
}

#match-save-modal .modal-header{
    height: 300px !important;
}
/* Maçı Kazanan Player Seç*/
#player-select-modal .modal-header,
#player-select-modal .modal-body,
#player-select-modal .modal-footer{    
    background: rgb(54, 54, 54);
    padding: 1rem !important;
}

#player-select-modal .modal-header{
    height: 150px !important;
    display: block !important;
}

#player-select-modal .modal-footer{
    display: block;
    
    border-top:none !important;
    height: 100% !important;
}

#player-select-modal button{
    width: 700px;
    height: 70px;
    margin-top: 2rem;
    /* border-radius: 5px !important; */
    
}
#player-select-modal .modal-content{
    background-color:rgb(15, 15, 15, 1);
   
}

#id_controller{
    height: 100px;
    position: relative;
    padding:0;
    margin:0;
}

#id_innings{
    position: relative;
    top:100px;
    left:0;
    font-size: 5rem;

    width: 150px;
    height: 100px;
    border: none;
}

#id_container {
    
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

/* #match-menu .col{
    border: .1em solid red;

} */

#match-menu button{
    width: 300px;
    height: 70px;
    padding: 1rem;
    margin: .5rem;

}
#match-menu button:focus{
    color:white;
    background-color: #007bff;

}

#match-menu span{
    font-size: 1rem;

}

footer{
    margin: 15px;
}

#myModal {
    font-family: 'Tomorrow', sans-serif;
    font-weight: bold;
}

#myModal ._player1-card{
    border: 3px solid rgb(31, 69, 240, 0.9);
    box-shadow: 12px 10px 8px rgb(31, 69, 240, 0.9);
}

#myModal ._player2-card{
    border: 3px solid rgb(31, 69, 240, 0.9);
    box-shadow: -12px 10px 8px rgb(31, 69, 240, 0.9);
}

.card{
    border-radius: 25px;
    background-color:rgba(44, 43, 43, 1);
    
}

#myModal .card-header{    
    background-color:#4D4D4D;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}

input { 
    text-align: center; 
}

._sayi{
    width: 150px;
    height: 100px;
}

._border {
    border: 2px solid white;

}

._text {
    color: white;

}

._text_yellow {
    color:#FFDA00;

}

#runs .card-body{    
    background-color:rgb(34, 55, 238) !important;
    /* background-color:#FFDA00 !important; */
}

#runs {
   border-radius: 25px;    
}


.eys {
    border:none;
    width: 90px !important;
    height: 70px;
    font-size: 4rem;
    background-color: transparent;
}

.ortalma {
    border:none;
    
    width: 300px !important;
    height: 100px;
    font-size: 6rem;
    background-color: transparent;

}

.innings {
    border:none;
    width: 400px !important;
    height: 250px;
    font-size: 12rem;
    background-color: transparent;

}

.runs {
    border:none;
    width: 250px !important;
    height: 250px;
    font-size: 9rem;
    background-color: transparent;

}

.score {
    border:none;
    width: 550px !important;
    height: 260px;
    font-size: 17rem;
    background-color: transparent;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

.modal-header {
    height:50px;
}
#match-save-modal .modal-header{
    display:block !important;
    height:80px !important;
}
    


.modal-body {
    height:100%;
    background-color:#0B0211;
}
.modal-body span {
    font-size: 6rem;
}

.modal-footer {
    height:200px;
}


.button-focus{
    box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px #3a97f9;
}

.uniForm{
    display: block;
}

.foul-box{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    margin: 14px;
    
}

.container-progress{
    position:absolute;
    width: 100%;
    height: 80px;
    border-radius: 25px;
    /* margin-left: 5px; */
}

.container-progress #mybar {
    position: absolute;
    z-index:1

}

.container-progress #span_time{
    position: absolute;
    /* right: 970px; */
    top:-30px;
    z-index:2 
}

.progress {
    height: 75px !important;
    background-color: transparent;
}

#finih-modal-footer button{
    width: 400px;
    height: 75px;
}


/* run.html CSS  */










