@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
	font-family: 'Roboto', sans-serif; /* online verdiğimiz google font adresinden fontu çekiyoruz*/
    font-size: .8rem !important;

}

/* ACCOUNTS CSS  */

.accounts_body{
    background: url("/static/media/bg3.jpg") no-repeat center fixed;
    background-size: cover;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}

/*#accounts_id .container_accounts{
    height: 100% !important;
    background-color: rgba(0, 0, 0, .5);
}*/

#accounts_id .overlay {
	background-color: rgba(0, 0, 0, .7);
}

#div_id_username .form-control{
    color: #f8f9fa !important;
}

#div_id_password .form-control{
    color: #f8f9fa !important;
}

.login-box{
    border-radius: 20px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding-bottom: 10px;
}

.login-box h2{
    /*float: left; /* h2 altındaki borderı kısaltır */
    font-size: 40px;
    width: 100%;
    border-bottom: 6px solid #1DB2FF;
    margin-bottom: 50px;
    padding: 13px 0
}

.login-box input{
    border: none;
    outline: none;
    background: none !important;
    font-size:20px;
    width: 100%;
    float:left;
    margin 0 10px;
    overflow: hidden;
    border-bottom: 1px solid #1DB2FF;
}

.login-box button {
    border: none ;
    outline: none ;
    background: none ;
    color: white;
    font-size:20px;
    width: 100% !important;
    float:left;
    margin-top:20px;
    overflow: hidden;
    border-bottom: 1px solid #1DB2FF;
    cursor: pointer;
}

.login-box label{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80px;
    float: left;
    margin: 10px;
}

/* HEADER NAVBAR CSS  */
.navbar {
	border-bottom: #1DB2FF 2px solid; /* navbar'ın altına cizgi cektik */
}

.navbar-brand{
	color: #1DB2FF !important; /* bootstrap css dosyasını ezmek  için özelliğin sonuna"!important" ifadesi ekledik */
}

#headerSection {   /*arka plana resim atmak için*/
	background: url("/static/media/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100wh;
}

#headerSection .overlay { /* "Overlay" transparan bir katman ekliyor*/
	background-color: rgba(0, 0, 0, .7)
}

#headerSection .row { /*  overlay özelliğini row clasına yayıyoruz*/
	height: 100wh;
}

#headerSection .span{ /* bu özelliği aynı satırda 2 farklı renk içeren yazılar için kullanabiliriz*/
	color: #1886c7 !important;
}

/*  BOOTSTRAP 4 IMPORTANT CSS  */

.bg-dark {
	background-color: #363535 !important; /* burada arka plan rengini hex olarak verdik*/
}

.nav-link {			
	color: white !important;	/* burada linklerin renklerini beyaz yaptık */
	text-transform: uppercase;	/* burada linklerin üzerine geldiğimizde boyutunu buyuttuk */
	transition: color .5s ease; /* burada burada linklerin üzerine gelirken değişen renkgi 0.5 sn geçikmesini sağladık*/
}

.nav-link:hover {	/* burada "hover" üzerine gelince odaklanmasını sağladık*/
	color: #1886c7 !important; /* burada linklerin üzerine gelirken rengin değişmesini sağladık*/
}



.btn-outline-primary{ /* butonların boyutları ve renkleri şekillleri için özel ayarlar girebiliriz.*/
    /*color:#1886c7 !important;*/
}

.container{
    padding-top: 10px;
    
}

#form-teknik {
    padding-top: 50px;
}

#detail-container {
    padding-top: 100px;

}

#detail-container .label{
    margin-top: .3rem;
    margin-bottom: .3rem;
    margin-left: .5rem;
}

#detail-teknik .row-color{

    background-color: rgba(54, 53, 53, .4);
    border-radius: 40px 20px;
    padding-left: 5px;
    padding-right: 5px;

}

#detail-container .btn-success-2{
    color: white;
    background-color: #363535;
    border-color: #1886c7;
    border-solid: 2px;
}

#detail-teknik .btn-success-2:hover{
    color: #1886c7;
    transition: color .5s ease;
    /*border-radius: 40px 20px !important;*/
}



.card {
    margin: 3px !important;
    /* position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1.25px solid rgba(0,0,0,.125);
    border-radius: .50rem; */
}

.card-img-top {
width: 80% !important;
height: 80% !important;
margin-left: 20px;
}

.teknik-btn-primary {
    margin: 1px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

}


/* LICENSE SAYFASI */

.asteriskField {
    display: none;
}

/*  FONTAWESOME CSS  */
.fas {
    font-size: 25px;
}
.fa-plus{
    color:  #1886c7;
}

.fa-times{
    color:  #dc3545;
}


/*  K2M CSS  */

.container-k2m {
    width: 90% !important;
    padding-top: 40px !important;
}

.btn-k2m {
    padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px 5px !important;
	border-left: 0;
	border-right:0;
	border-top: 0;
	cursor: pointer; /* bu butonun üzerine gelince el işareti çıkması için*/

}

.btn-k2m:hover{
    transition: color .5s ease;
}

.text-k2m{
    color: #1DB2FF;
}

.input-k2m{ /*   kırmızı border = #FC5185 */
    width: 80% !important;
    border: none;
    border-bottom: solid 6px #FC5185;
    /*border: none;*/
    /*border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;*/
    /*border-bottom: 2px solid #000000 !important;*/
    height: 100%px;
    clip-path: polygon(
        calc(0% + 5px) calc(0% + 5px), /* top left */
        calc(100% - 5px) calc(0% + 5px), /* top right */
        calc(100% - 5px) calc(100% - 5px), /* bottom right */
        calc(0% + 5px) calc(100% - 5px) /* bottom left */
    );
  transition: clip-path 0.3s linear;
    /*box-shadow: none !important;*/  /* tıklanmadan sonrakı border */
    /*transition: border-color .25s ease-in-out,box-shadow .40s ease-in-out !important;*/

}

.input-k2m:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.datepicker-k2m{ /*   kırmızı border = #FC5185 */
    width: 80% !important;
    border: none;
    border-bottom: solid 6px #FC5185;
    clip-path: polygon(
        calc(0% + 5px) calc(0% + 5px), /* top left */
        calc(100% - 5px) calc(0% + 5px), /* top right */
        calc(100% - 5px) calc(100% - 5px), /* bottom right */
        calc(0% + 5px) calc(100% - 5px) /* bottom left */
    );
  transition: clip-path 0.3s linear;
    /*box-shadow: none !important;*/  /* tıklanmadan sonrakı border */
    /*transition: border-color .25s ease-in-out,box-shadow .40s ease-in-out !important;*/

}

