    <div id="id_controller" class="container-flued mx-auto"> 
        <div class="row ">            
            <div class="col-4 mx-auto">
                <div class="row justify-content-center pb-2">
                    <button id="up_button-modal" onclick="upItem();" type="button" class="btn btn-outline-dark ">UP</button>
                    <button id="down_button-modal" onclick="downItem();" type="button" class="btn btn-outline-dark">DOWN</button>
                </div>
                <div class="row justify-content-center pb-2">                    
                    <button id="prev_button-modal" onclick="prevItem();" type="button" class="btn btn-outline-dark">PREVIOUS</button>
                    <button id="next_button-modal" onclick="nextItem();" type="button" class="btn btn-outline-dark">NEXT</button>
                </div>
            </div>             
            <div class="col-4 mx-auto">   
                <div class="row justify-content-center pb-2">
                    <button id="button_a-modal" type="button" class="btn btn-outline-dark">BUTTON A</button>
                    <button id="button_b-modal" type="button" class="btn btn-outline-dark">BUTTON B</button>                    
                    <button id="minus_id-modal" type="button" class="btn btn-outline-dark">MINUS</button>
                    <button id="plus_id-modal"  type="button" class="btn btn-outline-dark">PLUS</button>
                </div>                   
            </div>
            <div class="col-4 mx-auto">   
                <div class="row justify-content-center pb-2">
                    <button id="btn_1-modal" type="button" class="btn btn-outline-dark">BUTTON 1</button>
                    <button id="btn_2-modal"  type="button" class="btn btn-outline-dark">BUTTON 2</button>
                    <button id="button_home-modal" type="button" class="btn btn-outline-dark">BUTTON HOME</button>
                    <button id="btn_b+btn_1-modal"  type="button" class="btn btn-outline-dark">BUTTON B + BUTTON 1</button>                    
                    
                </div>                   
            </div>           
        </div>
    </div>                