    <div id="id_controller-modal" class="container-flued mx-auto"> 
        <div class="row ">
            {% comment %} <div class="col-3">
                <form name="myform">
                    <div class="form-group pb-2">
                        <textarea name="outputtext" id="id_outputtext" cols="30" rows="10" class="form-control"></textarea>                            
                    </div>
                    <div class="form-group pb-2">
                        <input type="text" name="url" id="id_url" cols="30" rows="10" class="form-control" value="ws://localhost:5500/">                           
                    </div>                                               
                    <div class="form-group">                          
                        <input type="button" class="btn btn-outline-primary" id="id_clearButton" name="clearButton" value="Clear" onClick="clearText();">
                        <input type="button" class="btn btn-outline-danger" id="id_disconnectButton" name="disconnectButton" value="Disconnect" onClick="doDisconnect();">
                        <input type="button" class="btn btn-outline-success" id="id_connectButton" name="connectButton" value="Connect" onClick="doConnect();">
                    </div>              
                </form>
            </div>  {% endcomment %}
            <div class="row" >
                <div class="col-6 mx-auto">
                    <div class="row justify-content-center pb-2">
                        <button id="up_button" onclick="upItem();" type="button" class="btn btn-outline-dark ">UP</button>
                        <button id="down_button" onclick="downItem();" type="button" class="btn btn-outline-dark">DOWN</button>
                    </div>
                    <div class="row justify-content-center pb-2">                    
                        <button id="prev_button" onclick="prevItem();" type="button" class="btn btn-outline-dark">PREVIOUS</button>
                        <button id="next_button" onclick="nextItem();" type="button" class="btn btn-outline-dark">NEXT</button>
                    </div>
                </div>
             </div>
             <div class="row" >
                <div class="col-6 mx-auto">   
                    <div class="row justify-content-center pb-2">
                        <button id="button_a" type="button" class="btn btn-outline-dark">BUTTON A</button>
                        <button id="button_b" onclick="move()" type="button" class="btn btn-outline-dark">BUTTON B</button>
                    </div>
                    <div class="row justify-content-center pb-2">
                        <button id="1_minus_id" onclick="number_minus();"type="button" class="btn btn-outline-dark">MINUS</button>
                        <button id="1_plus_id" onclick="number_plus();" type="button" class="btn btn-outline-dark">PLUS</button>
                    </div>                   
                </div>
            </div>
      </div>
    </div>                